.scorechart_title {
  position: absolute;
  top: 0;
  font-size: 15px;
  font-weight: 500;
  left: 20px;
  margin-top: 20px;
  z-index: 9999;
}

.scorechart_percentage_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scorechart_score {
  font-size: 15px;
  font-weight: bold;
  color: #282d30;
}

.scorechart_score_text1,
.scorechart_score_text2 {
  color: #74798c;
  font-size: 16px;
  font-weight: 500;
}
