/* .mini_linechart_container {
  width: 50px;
  height: 100%;
  background-color: #ff0000;
  border-radius: 5px;
} */

.linechart_custom_tooltip_container {
  background-color: #fff;
  width: 40px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  font-weight: 500;
}

.mini_linechart_text {
  width: 150px;
  position: absolute;
  z-index: 1;
  font-size: 15px;
  font-weight: 500;
  opacity: 0.5;
  margin-top: 30px;
  margin-left: 20px;
  color: #ffffff;
}
