.dashboard-container {
  padding-left: 110px;
  padding-right: 100px;
  padding-top: 65px;
  width: 1420px;
}

.user-container {
  display: flex;
  height: min-content;
}

.select-user-container {
  margin-left: 200px;
}

.select-user-container select {
  margin-left: 20px;
}

.dashboard-all-infos-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  /* espace entre les graphes et les résumés */
  gap: 100px;
}

.summary-container {
  justify-content: space-between;
  min-width: 250px;
}

.mini-charts-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
