.summary_component {
  background-color: #fbfbfb;
  width: 256px;
  height: 124px;
  display: flex;
  align-items: center;
  padding: 1.3rem;
  border-radius: 5px;
}

.summary_component_text_container {
  margin-left: 25px;
}

/* .summary_component_img {
  width: 60px;
  height: 60px;
} */

.summary_component_text_value,
.summary_component_text_unit {
  display: inline;
  font-size: 1.1rem;
  font-weight: 700;
  color: #282d30;
}

.summary_component_category {
  font-size: 14px;
  font-weight: 500;
  color: #74798c;
}
