.summary-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 260px;
}

.summary-component {
  background-color: #fbfbfb;
  height: 125px;
  display: flex;
  align-items: center;
  padding: 32px;
}

.summary-component-text-container {
  margin-left: 25px;
}

.summary-component-img {
  width: 60px;
  height: 60px;
}

.summary-component-text-value,
.summary-component-text-unit {
  display: inline;
  font-size: 20px;
  font-weight: 700;
  color: #282d30;
}

.summary-component-category {
  font-size: 14px;
  font-weight: 500;
  color: #74798c;
}
