.header {
  background-color: #000;
  height: 91px;
  padding-left: 25px;
  display: flex;
  align-items: center;
}

.header_links_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.header_links_container a {
  text-decoration: none;
  color: #fff;
}

.header_link_item {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  list-style-type: none;
}
